html
    head
        title= title
        link(rel="stylesheet", href="/static/styles.css")
    body
        h1= message
        if user != null
            p Your name is: #{user.username}!
        else
            p Who are you?

        p Do you know these languages?:

        ul
            for lang in langs
                li= lang